@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-bg text-brand-text antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}